name: CI

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        profile: [ "keycloak-22" ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven
      - name: Build with Maven
        run: mvn clean verify -P${{ matrix.profile }}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: target/site/jacoco/jacoco.xml
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: SonarQubeScan
        uses: SonarSource/sonarqube-scan-action@v6
        with:
          args: >
            -Dsonar.organization=treestack
            -Dsonar.projectKey=treestack_domain-role-idp-mapper
            -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml
            -Dsonar.java.binaries=target/classes
        env: 
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        
